language: ruby
before_install:
  - gem install bundler
before_script:
  - bundle update
  - "bundle exec rake compile"
cache: bundler
rvm:
  - 2.1.10
  - 2.2.6
  - 2.3.3
  - 2.4.0
bundler_args: --jobs 3 --retry 3
